{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "curly": "off",
    "arrow-parens": ["off"],
    "arrow-body-style": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "no-multi-assign": "off",
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}